@model RaceCorp.Web.ViewModels.Common.TeamCreateBaseModel;
@{
    this.ViewData["Title"] = "Create team";
}
<h1>@ViewData["Title"]</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" class="form-group" enctype="multipart/form-data">
    <div class="form-control mb-3">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Trace name</span>
            <input asp-for="Name" class="form-control" placeholder="Trace Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Description</span>
            <textarea asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>


        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Control time</span>
            <input asp-for="TownName" class="form-control" placeholder="Town name here">
            <span asp-validation-for="TownName" class="text-danger"></span>
        </div>

        <div>
            <button class="btn btn-outline-secondary" type="submit">Create</button>
        </div>
    </div>

    <input type="hidden" asp-for="CreatorId" />
</form>