@model AddRaceInputModel


<div class="text-center">
    <h1>Create Race</h1>
    <div class="col-md-4 offset-md-4">
    <form method="post" class="form-group">
            <div>
            <label class="label" asp-for="Name"></label>
            <input asp-for="Name" class="form-control  mb-1" />
        </div>
        <div>
            <label class="label" asp-for="Town"></label>
            <input asp-for="Town" class="form-control  mb-1" />
        </div>
            <div>
            <label class="label" asp-for="Length"></label>
            <input asp-for="Length" class="form-control mb-1" />
        </div>
            <div >
            <label class="label" asp-for="Date"></label>
            <input asp-for="Date" class="form-control mb-1" />
        </div>
            <div>
            <label class="label" asp-for="TrackUrl"></label>
            <input asp-for="TrackUrl" class="form-control mb-1" />
        </div>

            <div>
            <input type="submit" value="Add" />
        </div>
    </form>
    </div>
</div>


