@model RaceCorp.Web.ViewModels.RaceViewModels.RaceCreateInputViewModel

<div>
    <div>
        <h1>Race Profile Page</h1>
    </div>

    <div>
        <p>@Model.Name</p>
    </div>

    <iframe src="" width="500" height="500" frameborder="0" allowfullscreen=""></iframe>
</div>



