@model RaceProfileViewModel

<div>
    <h1>Race Profile Page</h1>
</div>

<div>
    <p>@Model.Name
    </p>
</div>

<div>
    <iframe src="@Model.TrackUrl" width="600" height="500" frameborder="0" allowfullscreen=""></iframe>
    </div>

