<svg viewBox="0 0 541.17206 328.45184"
     height="328.45184"
     width="541.17206"
     id="svg2"
     version="1.1">
    <metadata id="metadata8">
    </metadata>
    <defs id="defs6">
        <pattern patternUnits="userSpaceOnUse"
                 width="1.5"
                 height="1"
                 patternTransform="translate(0,0) scale(10,10)"
                 id="Strips2_1">
            <rect style="fill:black;stroke:none"
                  x="0"
                  y="-0.5"
                  width="1"
                  height="2"
                  id="rect5419" />
        </pattern>
        <linearGradient osb:paint="solid"
                        id="linearGradient6096">
            <stop id="stop6094"
                  offset="0"
                  style="stop-color:#000000;stop-opacity:1;" />
        </linearGradient>
    </defs>
   
  
</svg>

<p id="errorText">O-o-oh! Something broke.</p>
<a id="errorLink" asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Go Home</a>