@model RaceCorp.Web.ViewModels.Team.TeamProfileViewModel

<div class="row">
    <a asp-action="Join" asp-controller="Team" asp-route-teamId="@Model.Id" asp-route-userId=@this.User.FindFirst(ClaimTypes.NameIdentifier)?.Value>
        <img class="resize img-thumbnail float-left" src="@Model.LogoImagePath">
        <h4>Join the team!</h4>
    </a>
</div>
<div class="row">


    @foreach (var teamMember in Model.TeamMembers)
    {
        <div class="column">
            <div class="card">
                <img src="@teamMember.ProfilePicturePath" alt="@teamMember.FirstName" style="width:100%">
                <div class="container">
                    <h2>John Doe</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    }
</div>